body{
    color:#fff0f0;
    background-image:url(lalala.webp); 
    background-repeat: no-repeat;
    background-size: cover;
}

.heading
{
width: 80%;
font-size: 30px;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}


.name_of_objects, #result_object_name, #result_object_accuracy
{
color:black;
font-size: 30px;
background-color: rgb(0, 255, 255);

}

label
{
    font-size: 30px;

}